<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>



<ul type="none">


    <li th:inline="text"> Male Name for the day you entered [[${mondaymale}]]</li>
    <li th:inline="text"> Female Name for the day you entere [[${mondayfemale}]]</li>
     <li th:inline="text"> Male Name for the day you entered [[${tuesdaymale}]]</li>
     <li th:inline="text">Female Name for the day you entered [[${tuesdayfemale}]]</li>
     <li th:inline="text">Male Name for the day you entered  [[${wednesdaymale}]]</li>
    <li th:inline="text"> Female Name for the day you entered [[${wednesdayfemale}]]</li>
    <li th:inline="text"> Male Name for the day you entered  [[${thursdaymale}]]</li>
    <li th:inline="text"> Female Name for the day you entered [[${thursdayfemale}]]</li>
    <li th:inline="text"> Male Name for the day you entered  [[${fridaymale}]]</li>
    <li th:inline="text"> Female Name for the day you entered [[${fridayfemale}]]</li>
    <li th:inline="text">Male Name for the day you entered  [[${saturdaymale}]]</li>
    <li th:inline="text">  Female Name for the day you entered [[${saturdayfemale}]]</li>
    <li th:inline="text"> Male Name for the day you entered [[${sundaymale}]]</li>
    <li th:inline="text"> Female Name for the day you entered[[${sundayfemale}]]</li>
</ul>

</body>
</html>