<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>


Male day Name:
<ul type="none">

    <li th:text="${mondaymale}">  for the day you entered </li>
    <li th:text="${tuesdaymale}">  for the day you entered ${tuesdaymale}</li>

    <li th:text="${wednesdaymale}"> for the day you entered  ${wednesdaymale}</li>

    <li th:text="${thursdaymale}">  for the day you entered  ${thursdaymale}</li>
    <li th:text="${fridaymale}">  for the day you entered  ${fridaymale}</li>
    <li th:text="${saturdaymale}"> for the day you entered  ${saturdaymale}</li>
    <li th:text="${sundaymale}">  for the day you entered ${sundaymale}</li>

</ul>

Female Day Name:

<ul type="none">



    <li th:text="${mondayfemale}"> Fe for the day you entere </li>

     <li th:text="${tuesdayfemale}">Fe for the day you entered ${tuesdayfemale}</li>

     <li th:text="${wednesdayfemale}"> Fe for the day you entered ${wednesdayfemale}</li>

      <li th:text="${thursdayfemale}"> Fe for the day you entered ${thursdayfemale}</li>

      <li th:text="${fridayfemale}"> Fe for the day you entered ${fridayfemale}</li>

     <li th:text="${saturdayfemale}">  Fe for the day you entered ${saturdayfemale}</li>

      <li th:text="${sundayfemale}"> Fe for the day you entered${sundayfemale}</li>
</ul>
your zodiac sign is :
<p th:text="${zodiac}"></p>

</body>
</html>