<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>



<ul type="none">


    <li th:text="${mondaymale}"> Male Name for the day you entered </li>
    <li th:text="${mondayfemale}"> Female Name for the day you entere </li>
     <li th:text="${tuesdaymale}"> Male Name for the day you entered ${tuesdaymale}</li>
     <li th:text="${tuesdayfemale}">Female Name for the day you entered ${tuesdayfemale}</li>
     <li th:text="${wednesdaymale}">Male Name for the day you entered  ${wednesdaymale}</li>
    <li th:text="${wednesdayfemale}"> Female Name for the day you entered ${wednesdayfemale}</li>
    <li th:text="${thursdaymale}"> Male Name for the day you entered  ${thursdaymale}</li>
    <li th:text="${thursdayfemale}"> Female Name for the day you entered ${thursdayfemale}</li>
    <li th:text="${fridaymale}"> Male Name for the day you entered  ${fridaymale}</li>
    <li th:text="${fridayfemale}"> Female Name for the day you entered ${fridayfemale}</li>
    <li th:text="${saturdaymale}">Male Name for the day you entered  ${saturdaymale}</li>
    <li th:text="${saturdayfemale}">  Female Name for the day you entered ${saturdayfemale}</li>
    <li th:text="${sundaymale}"> Male Name for the day you entered ${sundaymale}</li>
    <li th:text="${sundayfemale}"> Female Name for the day you entered${sundayfemale}</li>
</ul>

</body>
</html>